{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-About Us
{% endblock %}

{% block content %}
{% load static %}  
<img src="{% static 'Image/f.jpg' %}" style="margin-left:auto;margin-right:auto;display:block;width:1345px">
<p id='p1'>Sirhind's most trusted and Preferred service providers</p>
<div id='c2'>
Saini Stabilizers is a renowned player in the power product market of Sirhind. It offers the most 
trusted & preferred brands in India. No wonder it’s the company’s best-in-class products 
that have helped the organization to achieve the position of Sirhind's most trusted & 
preferred brand. Being a technology innovator and a pioneer in the power back-up industry of 
India, Saini Stabilizers stands tall as an epitome in the space with its capability of making 
reliable and latest technology incorporated products that are well accepted and 
appreciated by household consumers & the industrial sector across the globe.
Saini Stabilizers today is offering many products which deal with Power Backup solutions, Solar Energy, 
Voltage Solutions, E-Vehicle Chargers. All of these products are of premium quality and are crafted to
cater to the unique requirements of the consumers.
With such dedicated offerings, Saini Stabilizers today has earned the valuable trust of 
more than 1 lac smiling users across Sirhind. Since its inception, the organization has achieved tremendous growth 
and excellence in all verticals of its operations.
</div>

<p id='p1'>Mission</p>
<div id='c2'>
Ensure sustainability and  establish a learning environment and constantly upgrade to state of the art technology to deliver 
the best value to our customers. Operate as an economically, socially and environmentally responsible organization.
</div>

<p id='p1'>Vision</p>
<div id='c2'>
Provide innovative products and services with state of the art technology to enrich and uplift our Customer's quality of life.
</div>

<p id='p1'>Core Values</p>
<div id='c2'>
    1. Leadership - Be a market leader for all our products.<br>
    2. Strive for Excellence - Continuously improve business processes, products and services with a focus on how to operate
    more effectively, efficiently in a user friendly manner.<br>
    3. Commitment - Honouring our word while demonstrating moral and ethical values in conducting business at 
    all stages.<br>
    4. Learning and Development - Enhancing the knowledge and skills of our people in everything that we do to ensure a 
    competitive competence level in the organisation.<br>
</div>

<p id='p1'>Our Founder</p>
<div id='c2'>
Saini Stabilizers was founded by Ravinder Singh alias Happy in early 2000's. He started with a small shop and he being
the sole employee. But in 20 years, Saini Stabilizers has shown tremendous growth. Now our company has a strong team 
which helps in running our business. 
</div>    

<p id='p1'>Our Beliefs</p>
<div id="c3">
<div id="child3">
<img src="{% static 'Image/b_1.jpg' %}"> 
<b>Innovative</b><br>
As an industry leader, we have always worked towards developing advance technology and innovative methods.
</div>
<div id="child4">
<img src="{% static 'Image/b_2.jpg' %}"> 
<b>Trustworthy</b><br>
Our expert teams are selected specifically for each client, and 
each team consists of highly trained and trust worthy personnel.
</div>
</div>
<div id="c3">
<div id="child3">
<img src="{% static 'Image/b_3.jpg' %}"> 
<b>Reliable</b><br>
We are reliable to let our quality work and commitment to customer satisfaction be our slogan.
</div>
<div id="child4">
<img src="{% static 'Image/b_4.jpg' %}"> 
<b>Best in class products & services</b><br>
We strive to constantly innovate and improve our 
products & services to offer the best & become the most recognized brand in the industry
</div>
</div>
<br><br>



{% endblock %}