{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-About Us
{% endblock %}

{% block content %}
{% load static %}  
<img src="{% static 'Image/bl_12.jpg' %}" style="margin-left:auto;margin-right:auto;display:block;width:1345px">
<div id="c5">
    <p style="font-weight: bold;text-align: center;font-size: x-large;">Smart inverter for smart homes</p>
    <br>   <br> 
    Gone are the days of fearing that movie nights will be spoiled due to unexpected power outage. With inverters making their presence felt by backing homes up, there are still some hurdles faced when the requirement for higher loads arise.
<br> <br>
    That’s why we worked to create a smart inverter that comes with a mobile app feature. It is with this app, that you are fully aware and in sync with the electrical power situation at home. With the Zelio Wifi, you are fully connected with the inverter through your phone from anywhere in the world.
    <br> <br>
    The app informs you when the main power is cut. The app gives you information on how long the backup will last and how much load is being run through the inverter. Based on this information and the required backup time at home, you can help optimise the electrical appliance usage and increase backup time to meet your needs.
    <br> <br>
    For example, if the electricity went out while the entire family was gathered to watch a movie, you can switch off appliances that are not required but still running on inverter. This will increase the backup time available on the inverter.
    <br> <br>
    So, stay connected to your smart Zelio Wifi inverter with the smartphone app available on iOS and Android platforms to know the power situation at home. With this, you will be able to plan your life smartly.
<br> <br>
    {% endblock %}