{% extends 'base.html' %}

{% block title %}
Saini Stabilizers
{% endblock %}
{% block content %}

<br><br>
<p id="p1">My Cart</p>
<br>
<table id="t1" class="table table-bordered">
    <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
</table>

<button style="background-color: black;color:white;padding:5px 5px 5px 5px;border-radius: 10px;">Continue Shopping</button>
<button style="background-color: black;color:white;padding:5px 5px 5px 5px;border-radius: 10px;">Proceed to checkout</button>




{% endblock %}