{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-e-vehicle-chargers
{% endblock %}

{% block content %}
{% load static %}
<div id="c3">
    <div id="child5">
    <p style="font-weight: bold;font-size: larger;"> <br>E-VEHICLE CHARGERS <br><br></p>
        <p style="text-align: justify;padding:0px 15px 0px 15px; ">
            Saini Stabilizers is pioneer of electric vehicle charging technology. 
            We sell an ever-evolving lineup of high quality charging systems that enable the safe, 
            easy, and fast charging of e-rickshaw vehicles, material handling and ground support equipment. 
            Our advanced charging systems are the preferred charging solution for top e-rickshaw automakers in India.

     </p>
    </div>
    <div id="child6">
        <img src="{% static 'Image/e_1.jpg' %}" width="668px" height="470px">

    </div>
</div>

<div id="c3">
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/e_2.png' %}">

    </div>
    <div id="child51">
    <p style="font-weight: bold;font-size: larger;"> <br>E-RICKSHAW CHARGERS <br><br></p>
        <p style="text-align: justify;">
            Technology that charges up every journey, 
            E-rickshaw is the new lifeline that helps people travel shorter
             distances in lesser time. It also helps in giving livelihood to many families. 
             Our E-rickshaw battery charger gives you turbocharging. It retains the charge of 
             the battery for long hours, which helps cover extra miles.

     </p>
    </div>
    
</div>
{% endblock %}