{% extends 'base.html' %}

{% block title %}
Saini Stabilizers
{% endblock %}

{% block content %}
<div id="backdrop1"></div>
{% load static %}
<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
    <div class="ws_images"><ul>
        <li><img src="{% static 'data1/images/erickshaw_banner_final.jpg' %}" alt="" title="" id="wows1_0"/></li>
        <li><img src="{% static 'data1/images/home_upsrev.jpg' %}" alt="" title="" id="wows1_1"/></li>
        <li><img src="{% static 'data1/images/indianmosttrustedbrand.jpg' %}" alt="" title="" id="wows1_2"/></li>
        <li><img src="{% static 'data1/images/jumbo_upsrev.jpg' %}" alt="" title="" id="wows1_3"/></li>
        <li><img src="{% static 'data1/images/solarrev.jpg' %}" alt="" title="" id="wows1_4"/></a></li>
        <li><img src="{% static 'data1/images/stabilizer.jpg' %}" alt="" title="" id="wows1_5"/></li>
      </ul></div>
      <div class="ws_bullets"><div>
        <a href="#" title=""><span><img src="{% static 'data1/tooltips/erickshaw_banner_final.jpg' %}" alt=""/>1</span></a>
        <a href="#" title=""><span><img src="{% static 'data1/tooltips/home_upsrev.jpg' %}" alt=""/>2</span></a>
        <a href="#" title=""><span><img src="{% static 'data1/tooltips/indianmosttrustedbrand.jpg' %}" alt=""/>3</span></a>
        <a href="#" title=""><span><img src="{% static 'data1/tooltips/jumbo_upsrev.jpg' %}" alt=""/>4</span></a>
        <a href="#" title=""><span><img src="{% static 'data1/tooltips/solarrev.jpg' %}" alt=""/>5</span></a>
        <a href="#" title=""><span><img src="{% static 'data1/tooltips/stabilizer.jpg' %}" alt=""/>6</span></a>
      </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net"></a>image slider</a> by WOWSlider.com v9.0</div>
    <div class="ws_shadow"></div>
    </div>	
    <script type="text/javascript" src="{% static 'engine1/wowslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'engine1/script.js' %}"></script>
    <!-- End WOWSlider.com BODY section -->
  
</div> 
  <p id="p1">TECHNOLOGY WE LIVE AT SAINI STABILIZERS</p>
  <div id="c2">
    <div id="child1"><a href="{% url 'power' %}"><button id="b5">Power Backup Solutions</button></a></div>
    <div id="child2"><a href="{% url 'voltage' %}"><button id="b5">Voltage Stabilizers</button></a></div>
    <div id="child2"><a href="{% url 'solar' %}"><button id="b5">Solar Solutions</button></a></div>
    <div id="child2"><a href="{% url 'evehicle' %}"><button id="b5">E-Vehicle Chargers</button></a></div>
  </div>
  
  <p id="p1">OUR ESTABLISHED CONSUMER BRANDS</p>
  <div id="c2">
    <div id="child1"><img src="{% static 'Image/Luminous.jpg' %}" width="240px" height="50px"></div>
    <div id="child2"><img src="{% static 'Image/Livguard.png' %}" width="240px" height="50px"></div>
    <div id="child2"><img src="{% static 'Image/Microtek.png' %}" width="240px" height="50px"></div>
    <div id="child2"><img src="{% static 'Image/Okaya.png' %}" width="240px" height="50px"></div>
  </div>
  
  <p id="p2">For more inquiries <a style="color:yellow;" href="mailto: contact_us@sainistabilizers.in">contact_us@sainistabilizers.in</a></p>
  <div id='c2'>
    <iframe id='k1' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3433.013446899546!2d76.38963431460827!3d30.633578597456665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39101c9139282635%3A0xd21f829ab1fe45f4!2sSaini%20Enterprises!5e0!3m2!1sen!2sin!4v1589699624901!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  
  <p id="p1">BLOG CORNER-ENERGIZE YOUR THOUGHTS</p>
  <div id="c3">
    <div id="child3">
      <img src="{% static 'Image/bl_1.jpg' %}" width="530px"> 
      <a href={% url 'bl_1' %}>
      <b>Difference between UPS and Inverter</b><br></a>
      Both Uninterruptible Power Supplies (UPS) and power<br>
      inverters are used to supply electricity and are often...<br>
      <button style="background-color: white;font-weight: bolder;">READ MORE</button>
    </div>
    <div id="child4">
      <img src="{% static 'Image/bl_2.jpg' %}" width="530px"> 
      <a href={% url 'bl_2' %}>
      <b>Lowdown on the best Inverter Batteries</b><br></a>
      If you live in an area where there are regular power cuts,you<br>
      certainly know what an inverter is. Consequently, you might...<br>
      <button style="background-color: white;font-weight: bolder;">READ MORE</button>

    </div>
  </div>
 
  <div id="c3">
    <div id="child3">
      <img src="{% static 'Image/bl_3.jpg' %}" width="530px"> 
      <a href={% url 'bl_3' %}>
      <b>Hazards of lead acid battery</b><br></a>
      Lead acid batteries are the most common large-capacity<br>
      rechargeable batteries. It is very popular among general...<br>
      <button style="background-color: white;font-weight: bolder;">READ MORE</button>
    </div>
    <div id="child4">
      <img src="{% static 'Image/bl_4.jpg' %}" width="530px"> 
      <a href={% url 'bl_4' %}>
      <b>Maintenance Tips for proper working of Inverter</b><br></a>
      A battery ia the backbone of an inverter. It is responsible for<br>
      your inverter's extended efficiency and long service life...<br>
      <button style="background-color: white;font-weight: bolder;">READ MORE</button>

    </div>
  </div>
 
  <div id="c3">
    <div id="child3">
      <img src="{% static 'Image/bl_5.jpg' %}" width="530px"> 
      <a href={% url 'bl_5' %}>
      <b>How Solar Power System Works</b><br></a>
      Solar power is harnessed using Solar Photovoltaic (PV)<br>
      technology that converts sunlight (Solar radiation) into...<br>
      <button style="background-color: white;font-weight: bolder;">READ MORE</button>
    </div>
    <div id="child4">
      <img src="{% static 'Image/bl_6.jpg' %}" width="530px"> 
      <a href={% url 'bl_6' %}>
      <b>Smart inverter for smart homes</b><br></a>
      Gone are the days of fearing that movie nights will<br>
      be spoiled due to unexpected power outage ...<br>
      <button style="background-color: white;font-weight: bolder;">READ MORE</button>

    </div>
  </div>

  <p id="p1">GOT SOME QUERIES - CONTACT US</p>
  <div id="bg2"></div>
  <div id="c6">
    <div id="child10">
<form method="POST" action="{% url 'add_queries' %}">
<br>
<b >Name :</b><br>
<input type='text' name="name" size="60" required>
<br><br> 
<b >Email :</b><br>
<input type='text' name="email" size="60" required>
<br><br>
<b >Mobile Number:</b><br>
<input type='text' name="mobile" size="60" required>
<br><br>
<b id="m1">Message:</b><br>
<textarea name="message" cols='63' rows='4' placeholder="Type your query here"></textarea>
<br><br>
 <input type="submit" id="b6" value="Submit Query">
    </form>
  </div>
  <div id="child10">
    <img src="{% static 'Image/query.jpg' %}" width="645px" height="530px" > 
  </div>


<br><br>
<div id="container42"></div>
{% if messages %}
        {% for message in messages %}
{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<script>
  let backdrop1=document.getElementById("backdrop1");
function Toggle_Backdrop1()
{
  backdrop1.classList.toggle("visible");
};
        let cont42=document.getElementById("container42");
        cont42.classList.toggle("visible");
        Toggle_Backdrop1();
        cont42.innerHTML  =`
       <h3 id='h42'> {{ message }} </h3>
        <a href="{% url 'home' %}"><button id='b42'> ok </button></a>
       `;
</script>
{% endif %}
{% endfor %}
{% endif %}



{% endblock %}