{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-Power Backup Solutions
{% endblock %}

{% block content %}
{% load static %}
<div id="c3">
    <div id="child5">
    <p style="font-weight: bold;font-size: larger;"> <br>POWER BACKUP SOLUTIONS <br><br></p>
        <p style="text-align: justify;">
        Saini Stabilizers is a renowned player in the power product market of India. 
        It is the most trusted & preferred brand in India. No wonder it’s the 
        company’s best-in-class products which have helped the organization to 
        achieve the position of India's most trusted & preferred brand. Being a 
        technology innovator and a pioneer in the power back up industry of India, 
        Saini Stabilizers stands tall as an epitome in the space with its capability of making 
        reliable and latest technology incorporated products that are well accepted and 
        appreciated by household consumers & industrial sector across the globe.
     </p>
    </div>
    <div id="child6">
        <img src="{% static 'Image/p_1.jpg' %}" width="668px" height="470px">

    </div>
</div>
<div id="c3">
<div id="child61">
    <br><br><br><br>
    <img src="{% static 'Image/p_1.png' %}">

</div>
<div id="child51">
    <p style="font-weight: bold;font-size: larger;"> <br>HOME UPS <br><br></p>
    <p style="text-align: justify;">
        We know how important power is for living in today's world, and we also 
        know how to deliver it just right. Saini Stabilizers Home UPS offer dependable, 
        uninterrupted power, keeping you comfortable and connected, always.
        The Saini Stabilizers Home UPS range is available in a variety of power 
        configurations  to meet power backup requirement for all homes. All our 
        Home UPS products go through strict quality control and come with a robust 
        after-sales support and warranty. Come, live the unlimited energy lifestyle with Saini Stabilizers Home UPS.
 </p>
</div>
</div>


<div id="c3">
    <div id="child51">
        <p style="font-weight: bold;font-size: larger;"> <br>Hi-Capacity UPS <br><br></p>
    <p style="text-align: justify;">
        Specially designed for running higher loads for longer hours, the Saini Stabilizers High Capacity UPS Jumbo Series comes with 
        smart Overload Sense, Short Circuit Protection and Pure Sinewave Output that makes it a powerhouse of uninterrupted backup! 

Saini Stabilizers Jumbo UPS High Capacity Series is Micro 
Processor based PWM Technology, using Hi-Grade Mosfets/IGBTs. 
These are Static UPS with LCD Display, Pure Sinewave Output and Inbuilt TDR (Time Delay Relay).
 </p>
    
    </div>
    <div id="child61">
        <br><br><br><br>
    <img src="{% static 'Image/p_2.png' %}">
    
    </div>
</div>


<div id="c3">
    <div id="child61">
        <br><br><br><br>
    <img src="{% static 'Image/p_3.png' %}">
    </div>
    <div id="child51">
        <p style="font-weight: bold;font-size: larger;"> <br>UPS Trolley <br><br></p>
    <p style="text-align: justify;">
        The leader in UPS brings Trolley for elegant look for home and safety for children. 
        Trolley is also known as battery cover or case, It is elegant, moveable, 
        safe and made from long lasting material. It provides home an elegant look,
         stops damage of flooring from acid spillage therefore protecting the environment 
         and provides safety to children. Battery is kept inside trolley and UPS is placed on 
         top of it, thus taking less space.
        
    </div>
</div>


<div id="c3">
    <div id="child51">
        <p style="font-weight: bold;font-size: larger;"> <br>ONLINE UPS <br><br></p>
        <p style="text-align: justify;">
            Saini Stabilizers offers Wide Range of Online UPS from 1KVA to 40KVA based on World’s Latest Technology to meet the harsh Environmental and worst Power Conditions for Applications from Small Office requirement to Space Critical Missions with wide variety of Backup Range from 5 minutes to 10 hours to meet the needs of every individual.
            
    </div>
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/p_4.png' %}">
    </div>
    </div>


<div id="c3">
        <div id="child61">
            <br><br><br><br>
            <img src="{% static 'Image/p_5.png' %}">
        </div>
        <div id="child51">
            <p style="font-weight: bold;font-size: larger;"> <br>LINE INTERACTIVE UPS <br><br></p>
        <p style="text-align: justify;">
            Saini Stabilizers has complete range of Line Interactive UPS from 650VA to 2000VA. 
            The UPS are your ideal choice to provide complete protection to your Computers. Saini Stabilizers is th eonly brand to manufacture these in India.

These Products are manufactured in State-of-the-art automatic manufacturing Plants equipped with Hi- Tech Machines in India. Some of the important machines are SMT, ICT and Automatic Assembly Lines etc.             

        
        </div>
</div>    




{% endblock %}