{% extends 'base.html' %}

{% block title %}
Check all the queries
{% endblock %}

{% block content %}
<section id="container2">
<p class ="col-sm-12 h1 text-center" ><font color="white">Below are the Queries.</font></p>
</section>

<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Message</th>
      <th scope="col">Email</th>
      <th scope="col">Action (Delete/Respond) </th>


    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{ row.id }}</th>
      <td>{{ row.message }}</td>
      <td>{{ row.email }}</td>
      <td>
            <a href="{% url 'query_delete' id=row.id %}" class="btn btn-danger mr-3">Delete</a>
            <a href="mailto: {{ row.email }}" class="btn btn-warning mr-3">Respond</a>

      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}