{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-Shop Voltage_Stabilizers
{% endblock %}

{% block content %}
{% load static %}
<p style="background-color: black;color:white;font-size:xx-large;text-align: center;">Products</p>
<div id="c3">
    <div id="child7">
        <img src="{% static 'Image/se1.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">E-RICKSHAW CHARGER - TC 4816Q (INDUSTRIAL CHARGER)</p>
        <p style="text-align: center;font-weight: bolder;">INR 4628</p>
    </div>
    </div>
    {% endblock %}