{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-Shop Power_backup_solutions
{% endblock %}

{% block content %}
{% load static %}
<p style="background-color: black;color:white;font-size:xx-large;text-align: center;">Products</p>
<div id="c3">
    <div id="child7">
        <img src="{% static 'Image/sp1.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS 24x7 HB 1075(12V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 4667</p>
    </div>
    
    <div id="child7">
        <img src="{% static 'Image/sp2.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS XP SW 2300 (24V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 9130</p>
    </div>
    <div id="child7">
        <img src="{% static 'Image/sp3.jpg' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS EB 1700 (24V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 6341</p>
    </div>
</div>
<div id="c3">
    <div id="child7">
        <img src="{% static 'Image/sp4.jpg' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS MERLYN 1850 (24V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 6626</p>
    </div>
    
    <div id="child7">
        <img src="{% static 'Image/sp5.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS E^2 + 1825 (24V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 6554</p>
    </div>
    <div id="child7">
        <img src="{% static 'Image/sp6.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS 24x7 HB 1875 (24V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 6804</p>
    </div>
</div>
<div id="c3">
    <div id="child7">
        <img src="{% static 'Image/sp7.jpg' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS EB 700 (12V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 3562</p>
     </div>
    
    <div id="child7">
        <img src="{% static 'Image/sp8.jpg' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS SW EB 700 (12V)</p>
        <p style="text-align: center;font-weight: bolder;">Out of Stock</p>
        </div>
    <div id="child7">
        <img src="{% static 'Image/sp9.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS SW MERYLYN 850 (12V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 4239</p>      
    </div>
</div>
<div id="c3">
    <div id="child7">
        <img src="{% static 'Image/sp10.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS SW E^2 + 825(12V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 4167</p>
    </div>
    
    <div id="child7">
        <img src="{% static 'Image/sp11.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS XP 1400 (12V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 5765</p>
   </div>
    <div id="child7">
        <img src="{% static 'Image/sp12.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS SW EB 900(12V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 4667</p>
   </div>
</div>
<div id="c3">
    <div id="child7">
        <img src="{% static 'Image/sp13.jpg' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS SW MERLYN 1050 (12V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 4952</p>
    </div>
    
    <div id="child7">
        <img src="{% static 'Image/sp14.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS SW E^2 + 1025 (12V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 4880</p>
    </div>
    <div id="child7">
        <img src="{% static 'Image/sp15.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">UPS XP 2300 (24V)</p>
        <p style="text-align: center;font-weight: bolder;">INR 8157</p>        
    </div>
</div>

{% endblock %}