{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-Shop Voltage_Stabilizers
{% endblock %}

{% block content %}
{% load static %}
<p style="background-color: black;color:white;font-size:xx-large;text-align: center;">Products</p>
<div id="c3">
    <div id="child7">
        <img src="{% static 'Image/ss1.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">SOLAR PV MODULE 150W 12V</p>
        <p style="text-align: center;font-weight: bolder;">INR 5663</p>
    </div>
    
    <div id="child7">
        <img src="{% static 'Image/ss2.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">SOLAR PV MODULE 75W 12V</p>
        <p style="text-align: center;font-weight: bolder;">INR 3269</p>
    </div>
    <div id="child7">
        <img src="{% static 'Image/ss2.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">SOLAR PV MODULE 260W 24V</p>
        <p style="text-align: center;font-weight: bolder;">INR 8588</p>        
    </div>
</div>
<div id="c3">
    <div id="child7">
        <img src="{% static 'Image/ss1.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">SOLAR PV MODULE 150W 12V</p>
        <p style="text-align: center;font-weight: bolder;">INR 5663</p>
    </div>
    
    <div id="child7">
        <img src="{% static 'Image/ss2.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">SOLAR PV MODULE 75W 12V</p>
        <p style="text-align: center;font-weight: bolder;">INR 3269</p>
    </div>
    <div id="child7">
        <img src="{% static 'Image/ss2.png' %}" width="400px" height="200px">
        <p style="background-color: black;color:white;text-align: center;">SOLAR PV MODULE 260W 24V</p>
        <p style="text-align: center;font-weight: bolder;">INR 8588</p>
    </div>
</div>
{% endblock %}