{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-Solar Solutions
{% endblock %}

{% block content %}
{% load static %}
<div id="c3">
    <div id="child5">
    <p style="font-weight: bold;font-size: larger;"> <br>SOLAR SOLUTIONS <br><br></p>
        <p style="text-align: justify;">
            Saini Stabilizers provides a wide range of solar products for retail and commercial users. Our objective is to provide customers with easy access 
            to solar energy & reduce their dependency on traditional sources of energy. 
            Saini Stabilizers Solar products are manufactured using the most recent solar technologies to 
            deliver optimal results. Our products are tested and certified as per leading industry 
            certification standards and have carved a strong market position in a short span of time.

            Our range of innovative solar products include PV Modules, PCUs, SMUs & Solar combo packages.

     </p>
    </div>
    <div id="child6">
        <img src="{% static 'Image/s_1.jpg' %}" width="668px" height="470px">

    </div>
</div>

<div id="c3">
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/s_2.png' %}">

    </div>
    <div id="child51">
    <p style="font-weight: bold;font-size: larger;"> <br>PV Modules<br><br></p>
        <p style="text-align: justify;">
            Saini Stabilizers sells Microtek – India’s ‘Most Preferred’ and ‘Most Awarded’ Brand
            which has Launched range of Solar PV Modules to promote Green and Renewable Source of Energy.

        </p>
    </div>
    
</div>

<div id="c3">
    <div id="child51">
    <p style="font-weight: bold;font-size: larger;"> <br>SOLAR MANAGEMENT UNITS <br><br></p>
        <p style="text-align: justify;">
            Saini Stabilizers Solar Management Unit (SMU) converts any existing inverter into solar system. 
            It has in-built intelligence to maximize use of solar energy and is ideal for various DC voltages.

        </p>
    </div>
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/s_3.png' %}">

    </div>
</div>


<div id="c3">
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/s_4.png' %}">

    </div>
    <div id="child51">
    <p style="font-weight: bold;font-size: larger;"> <br>Solar Power Conditioning Units<br><br></p>
        <p style="text-align: justify;">
            Our highly efficient Solar Power Conditioning Units has 2 modes of operation:<br>

            1. Solar mode: helps minimize electricity bill<br>
            2. Normal mode: to maximize power availability<br>
            The load is automatically powered from either the inverter or the grid depending on the availability of solar energy and status of the battery. Similarly, the grid charger/solar charger comes ON depending on the battery charge status and availability of solar energy. The solar charger is prioritized over the grid charger always.
            
             

        </p>
    </div>
    
</div>


{% endblock %}