{% extends 'base.html' %}

{% block title %}
Saini Stabilizers-Voltage Stabilizers
{% endblock %}

{% block content %}
{% load static %}
<div id="c3">
    <div id="child5">
    <p style="font-weight: bold;font-size: larger;"> <br>VOLTAGE STABILIZERS <br><br></p>
        <p style="text-align: justify;">
            Saini Stabilizers – India's 'Most Preferred' and 'Most Awarded' Brand, 
            has launched first time in India, Energy Efficient Range of Automatic Voltage Stabilizers. 
            All Automatic Voltage Stabilizers are based on Save Power Technology and have many
             Unique Features which enable them to give High Performance, Better Reliability and Save Electricity.

            Saini Stabilizers Automatic Voltage Stabilizer has wide range of Stabilizers for multiple Appliances such as 
            Air Conditioners, Television, Refrigerator and Mainline.
     </p>
    </div>
    <div id="child6">
        <img src="{% static 'Image/v_1.jpg' %}" width="668px" height="470px">

    </div>
</div>

<div id="c3">
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/v_2.png' %}">
    </div>
    <div id="child51">
        <p style="font-weight: bold;font-size: larger;"> <br>AC STABILIZERS <br><br></p>
    <p style="text-align: justify;">
        All MICROTEK Automatic Voltage Stabilizers are based on SAVE POWER Technology, and have many Unique Features which enable them to give High Performance, Better Reliability and SAVE Electricity. 
MICROTEK has complete Range of Energy Efficient Digital Voltage Stabilizers for Air-conditioners with various working Input Range, suitable for all kinds of Power and Voltage Conditions. All Stabilizers for AC's also have Smart Time Delay feature, which gives breathing space & Stabilizes the Power supplying to the Load, hence increases the Life of Appliances. 
 </p>
        

    </div>
</div>


<div id="c3">
    <div id="child51">
        <p style="font-weight: bold;font-size: larger;"> <br>REFRIGERATOR STABILIZERS <br><br></p>
    <p style="text-align: justify;">
        All MICROTEK Automatic Voltage Stabilizers are based on SAVE POWER Technology, and have many Unique Features which enable them to give High Performance, Better Reliability and SAVE Electricity. 
MICROTEK has complete Range of Energy Efficient Digital Voltage Stabilizers for Refrigerators with Capacity, from 2.0A to 4.0A, suitable for all kinds of Power and Voltage Conditions. These Stabilizers are Perfect Guard for your equipment from Voltage fluctuations.

    
    </div>
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/v_3.png' %}">

    </div>
</div>

<div id="c3">
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/v_4.png' %}">
    </div>
    <div id="child51">
        <p style="font-weight: bold;font-size: larger;"> <br>LED TV STABILIZERS <br><br></p>
    <p style="text-align: justify;">
        All MICROTEK Automatic Voltage Stabilizers are based on SAVE POWER Technology, and have many Unique Features which enable them to give High Performance, Better Reliability and SAVE Electricity. 

MICROTEK has complete Range of Energy Efficient Digital Voltage Stabilizers for TV/LCD/LED/DVD/DTH/Home Theater System with Capacity, from 0.7A to 2.0 A, suitable for all kinds of Power and Voltage Conditions. These MICROTEK Energy Efficient Digital Voltage Stabilizers are Perfect Guard for your equipment from Voltage fluctuations and can withstand upto 3000V AC Input. 
        

    </div>
</div>


<div id="c3">
    <div id="child51">
       <p style="font-weight: bold;font-size: larger;"> <br>MAINLINE STABILIZERS <br><br></p>
    <p style="text-align: justify;">
        All MICROTEK Automatic Voltage Stabilizers are based on SAVE POWER Technology, and have many Unique Features which enable them to give High Performance, Better Reliability and SAVE Electricity. 
MICROTEK has Range of Energy Efficient Digital Voltage Stabilizers for Mains with Output Load Current Carrying Capacity from 10 A to 15 A, suitable for all kinds of Power and Voltage Conditions. No need to install separate Stabilizers for Appliances after installing Microtek Stabilizer in Mains. They have a separate MCB for Bypassing the unit if required. 

    
    </div>
    <div id="child61">
        <br><br><br><br>
        <img src="{% static 'Image/v_5.png' %}">   

    </div>
</div>




{% endblock %}